#################
## IDEA
#################

# User-specific stuff
.idea/
.idea_modules/
*.iml

# IntelliJ
out/

target/

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# External tool builders
.externalToolBuilders/

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
REBASE.bat

# Place your proprietary software here, this won't get synced to remote 
library/